body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
}

.container {
    text-align: center;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.image-item {
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s;
}

.image-item:hover {
    transform: scale(1.05);
}

.image-item img {
    max-width: 200px;
    max-height: 200px;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

.light-theme {
    background-color: #fff;
    color: #000;
}
